.footer{
  display: flex;
  justify-content: space-between;
  padding: 91px 48px 24px
}

@media screen and (max-width:1023px) {
  .footer{
    padding: 86px 24px 24px
  }
}

@media screen and (max-width:767px) {
  .footer{
    flex-direction: column;
    padding: 64px 16px 24px
  }
}