.footer{
  display: flex;
  justify-content: space-between;
  padding: 91px 48px 24px;
}

@media screen and (max-width:1023px) {
  .footer{
    padding-top: 86px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width:767px) {
  .footer{
    flex-direction: column;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}