.place__website{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: 352px;
  grid-area: url;
}

@media screen and (max-width:767px) {
  .place__website{
    padding: 0 16px;
    grid-area: url;
  }
}